body {
  font-size:16px;
}
.navbar-brand img {
  height: 40px;
}
.section-title a {
  text-decoration: underline;
  color: #14a2b2;
}
.section-title a:hover {
  text-decoration: none;
  color: #14a2b2;
}
article h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.2em;
	margin-top:1.5em;
  font-size: 1.8em;
}
article li {
  line-height: 1.8;
}
.sponsor-row {
  padding: 0em;
}
.sponsor-row-description {
  padding: 1em;
}
.schedule-time {
  text-align: center;
  background: #EE3924;
}
.schedule-event {
  text-align: center;
}
.talk-title {
  margin: 1em;
}
.food-break {background: url(/assets/media/image-backgrounds/food-break.jpg);background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover}
.food-break p {text-transform:uppercase; font-size:21px; font-weight:500; padding:40px 0 30px; text-align:center}

.btn-primary {
  background-color: #14A2B2;
}

#archive {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1600;
    background: #dd0000;
    color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
}
