{% macro talk_section(event) %}
<article class="talk">
    <div class="">
        <h4 class="">{{ event.start }}</h2>
        <h5 class="">
            <span class="font-bold block text-base sm:text-lg">{{ event.title }}</span>
{% if event.speakerName !== "" %} <span class="block text-base sm:text-lg"> {{ event.speakerName }} </span>{% endif %}   
</h5>
</div>
</article>
{% endmacro %}

<section class="">
  {% for event in events %}
    {{ talk_section(event) }}
  {% endfor %}
</section>

