<footer class="bg-stone-800 py-6 sm:p-6 rounded-b-lg twokay-font-rokkitt uppercase tracking-wide">
  <div class="max-w-screen-lg mx-auto px-4">
      <div class="flex gap-4 flex-col md:flex-row md:items-center text-[#d7d3ca]">
          <div class="">
              {# Copyright #}
              <span id="currentYear" class="block md:ml-auto lg:ml-0 text-[#f9f3e6]">&copy; 2023 <a href="#">Techlahoma Foundation</a></span>
              {# Nav Links #}
             <p class="opacity-50 text-xs my-8">
              Copyright <span id="currentYear"></span> –
              <a href="https://www.techlahoma.org/" class="hover:underline">Techlahoma Foundation</a>
             </p>
              <div class="flex flex-col sm:flex-row sm:gap-4">
                  <a class="block hover:underline underline-offset-2 hover:text-[#f9f3e6]" href="mailto:200ok@techlahoma.org">Contact Us</a>
                  <a class="block hover:underline underline-offset-2 hover:text-[#f9f3e6]" href="https://www.techlahoma.org/code-of-conduct/">Code of Conduct</a>
                  <a class="block hover:underline underline-offset-2 hover:text-[#f9f3e6]" href="/privacy-policy">Privacy Policy</a>
              </div>
              {# Social Links #}
              {# TODO: Add Social Icons #}
              <div class="flex flex-col sm:flex-row sm:gap-4">
                  <a class="block hover:underline underline-offset-2 hover:text-[#f9f3e6]" href="https://twitter.com/200okconf">Twitter</a>
                  <a class="block hover:underline underline-offset-2 hover:text-[#f9f3e6]" href="https://techlahoma.slack.com/archives/C0HFPH866">Slack</a>
                  <a class="block hover:underline underline-offset-2 hover:text-[#f9f3e6]" href="https://www.linkedin.com/events/200oktulsa-swebdeveloperconfere6899103460290027520">LinkedIn</a>
                  <a class="block hover:underline underline-offset-2 hover:text-[#f9f3e6]" href="https://www.meetup.com/Techlahoma-Foundation/events/284205782/">Meetup</a>
              </div>
              {# Archive Links #}
              {# TODO: Add update HREFs based on https://github.com/techlahoma/200ok-site/pull/293  #}
              {# <div class="flex flex-col sm:flex-row sm:gap-4">
                  <span>View previous year's sites</span>
                  <a clas="block" href="/archive/2023">2023</a>
                  <a clas="block" href="/archive/2022">2022</a>
                  <a clas="block" href="/archive/2021">2021</a>
              </div> #}
          </div>
          {% if env.NETLIFY %}
            <a class="block md:ml-auto" href="https://www.netlify.com">
              <img src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg" alt="Deploys by Netlify" />
            </a>
          {% endif %}
      </div>
  </div>
 
 </footer>

 

