<div class="relative color-tertiary">
  <div class="social-icons">
    <a target="_blank" href="https://twitter.com/200okconf">
      {{ 'assets/logos/social/twitter.svg' | readFile | safe }}
    </a>
    <a target="_blank" href="https://techlahoma.slack.com/archives/C0HFPH866">
      {{ 'assets/logos/social/slack.svg' | readFile | safe }}
    </a>
    <a target="_blank" href="https://www.linkedin.com/events/200oktulsa-swebdeveloperconfere6899103460290027520">
      {{ 'assets/logos/social/linkedin.svg' | readFile | safe }}
    </a>
    <a target="_blank" href="https://www.meetup.com/Techlahoma-Foundation/events/284205782/">
      {{ 'assets/logos/social/meetup.svg' | readFile | safe }}
    </a>
  </div>

  <div class="footer-container text-center">
    <ul class="list-none text-sm my-8">
      <li class="mb-2">
        <a href="mailto:200ok@techlahoma.org">
          Contact Us
          <i class="ri-mail-send-line"></i>
        </a>
      </li>
      <li class="mb-2">
        <a href="https://www.techlahoma.org/code-of-conduct/">
          Code of Conduct
          <i class="ri-external-link-line"></i>
        </a>
      </li>
      <li class="mb-2">
        <a href="/sponsorship">
          Sponsorship
        </a>
      </li>
      <li class="mb-2">
        <a href="/privacy-policy">Privacy Policy</a>
      </li>
    </ul>

    <p class="opacity-50 text-xs my-8">
      Copyright {{ env.YEAR }} –
      <a href="https://www.techlahoma.org/" class="hover:underline">Techlahoma&nbsp;Foundation</a>
    </p>

    {% if env.NETLIFY %}
      <p class="my-8">
        <a href="https://www.netlify.com" title="Deploys by Netlify">
          <img src="/assets/images/netlify-dark.svg" alt="Deploys by Netlify" class="; mx-auto w-20">
        </a>
      </p>
    {% endif %}
  </div>
</div>
