<div class="relative text-white">
  <div class="header-container py-8 px-8">
    <div class="text-center">
      <h1 class="mb-4">
        <a href="/"><img class="block mx-auto mb-8 md:mb-4 w-56 max-w-full" src="/assets/logos/200ok-white.svg"/></a>
        <div class="block font-semibold text-lg">
          Tulsa’s
          <span class="whitespace-nowrap">Web Developer</span>
          <span class="whitespace-nowrap"><span class="text-orange">Virtual</span> Conference</span>
        </div>
      </h1>
      <h2 class="font-semibold text-xl mb-4">
        Friday, May 21, 2021
      </h2>
      <nav>
        <ul>
          <li>
            <a class="button primary ; w-48" href="/tickets">Get Tickets</a>
          </li>
          <li>
            <a class="button secondary ; w-48 mt-2" href="#speakers" onclick="return scrollToId('speakers')">Speakers</a>
          <li>
          <li>
            <a class="button secondary ; w-48 mt-2" href="#sponsors" onclick="return scrollToId('sponsors')">Sponsors</a>
          <li>
        </ul>
      </nav>
    </div>
  </div>
</div>
