{% include "analytics.njk" %}


<script>
  function scrollToId(id) {
    var targetElement = document.getElementById(id);
    var mainElement = document.getElementsByTagName('main')[0];

    if (!targetElement || !mainElement) {
      return true;
    }

    var wide = mainElement.offsetLeft > 0;
    var scrollElement = wide ? mainElement : window;

    scrollElement.scroll({
      top: targetElement.offsetTop,
      left: 0,
      behavior: 'smooth'
    });

    history.replaceState(null, null, '#'+id);

    return false;
  }
</script>

 <script>
  // Wait for the DOM to be fully loaded
  document.addEventListener("DOMContentLoaded", function() {
    // Get the current year
    var currentYear = new Date().getFullYear();
    // Display the current year in the footer
    document.getElementById('currentYear').textContent = "© "+ currentYear +" Techlahoma Foundation";
  });
</script>