<style>
  .square {
    position: relative;
    width: 100%;
  }

  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .square-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
</style>

{% macro sponsor_icon(sponsor, size, level) %}
<div class="sponsor ; p-0.5 sm:p-2 {{ size }}">
  <div class="square">
    <a href="{{ sponsor.url }}" title="{{level}} Sponsor: {{ sponsor.name }}" target="{{'_blank' if r/^https?:/.test(sponsor.url) else '_self'}}"
      class="square-content ; shadow-md rounded-lg hover:ring-2 hover:ring-200ok-red overflow-hidden flex flex-col justify-center"
      style="background-color: {{ sponsor.logo.background_color or 'transparent' }}; padding: {{ sponsor.logo.padding or '0' }};"
    >
      <img src="{{ sponsor.image }}" alt="{{level}} Sponsor: {{ sponsor.name }}" class="; block w-full {% if sponsor.logo_spacer %} p-3 {% endif %}" />
    </a>
  </div>
</div>
{% endmacro %}

{% macro sponsor_section(level, size) %}
{% if sponsors[level].length %}
<div>
  <h3 class="; text-center">{{ level }} {{ 'Sponsor' if sponsors[level].length === 1 else 'Sponsors' }}</h3>
  <div class="; flex flex-wrap justify-center">
    {% for sponsor in sponsors[level] %}
    {{ sponsor_icon(sponsor, size, level) }}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endmacro %}

{{ sponsor_section('Techlahoma Foundation', 'w-96') }}
{{ sponsor_section('Lunch', 'w-96') }}
{{ sponsor_section('Silver', 'w-1/2') }}
{{ sponsor_section('Bronze', 'w-1/3') }}
{{ sponsor_section('Local', 'w-1/3') }}
