body {
  font-size:16px;
}
@media (min-width:768px) {
  .navbar-brand img {
    width: 96px;
  }
}
.section-title a {
  text-decoration: underline;
  color: #14a2b2;
}
.section-title a:hover {
  text-decoration: none;
  color: #14a2b2;
}
article h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.2em;
	margin-top:1.5em;
  font-size: 1.8em;
}
article li {
  line-height: 1.8;
}
