<header id="fullwidth" class="homepage" style='background-color: #17213E;'>
  <iframe src="https://gregtatum.github.io/header-200ok/002/" style='width:100%; height: 100%; top: 0; left: 0; position:absolute; pointer-events: none; border: 0;'></iframe>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Heading Title Area -->
        <div class="header-text white text-center text-uppercase">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <div class="pddn-20-top pddn-20-btm" style='text-align:center;'>
                <img src="assets/media/logo/200ok-white.svg" class="img-responsive" style='margin: 10px auto 0 auto; height: 140px'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p class='main-header'>
                Connect with fellow web professionals and some of the best speakers in the country
                for a day of presentations about leading web tech topics, plus join in hacking spaces,
                break-outs, and group discussions.
              </p>
              <h3 class="mrgn-50-top white sm-title mrgn-50-btm main-header-date"><span class="date">May 18th, 2018 – Tulsa, Oklahoma</span></h3>
              <p>
                <a href="https://cfp.techlahoma.org/events/200ok-2018" class="btn btn-primary btn-lg">Submit a talk!</a>
              </p>
              <p>
                <a href="https://www.facebook.com/200OKConference/" class="btn btn-clear btn-lg">
                  <i class="fa fa-facebook" aria-label="Facebook"></i>
                </a>
                <a href="https://twitter.com/200okconf" class="btn btn-clear btn-lg">
                  <i class="fa fa-twitter" aria-label="Twitter"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- /.Heading Title Area -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</header>

<section id="sponsors">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Sponsors</span></h2>
          <p class="text-center" style='padding-top:2em; font-size:20px;'>
            View the <a href='/sponsorship-prospectus'>Sponsorship Prospectus</a><br/><br/>
            Contact us at <a href="mailto:organizers@200ok.us">organizers@200ok.us</a> about sponsoring.
          </p>
        </div>
      </div>
    </div>

    <!-- /.Title & Subtitle -->
</section>

<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style='text-align: center; font-size: 20px;'>
        <a href="https://cfp.techlahoma.org/events/200ok-2018">Call for papers is open!</a>
      </div>
    </div>
  </div>
</section>

<section id="location">
  <img src='/assets/media/image-backgrounds/greadington.jpg' style='width: 100%; height: auto;'/>
  <address>
    <h3 style='margin:0;'>
      <a href='http://www.tulsalibrary.org/central/' target='_blank'>Location: Tulsa Central Library</a>
    </h3>
    400 Civic Center<br/>
    Tulsa, OK 74103
  </address>
  <div id="google-container"></div>
  <div id="cd-zoom-in"></div>
  <div id="cd-zoom-out"></div>
</section>

<section id="coc">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Code of Conduct</span></h2>
          <p class="subtitle text-center">
            Before attending the conference, <a href="https://www.techlahoma.org/code-of-conduct/">please review the 200OK Code of Conduct</a>. The CoC applies to all attendees, speakers, volunteers, and vendors at official and unofficial events by <a href="https://techlahoma.org">Techlahoma</a> and any location where attendees may be congregating. <a href="mailto:organizers@200ok.us">Contact us</a> if you have questions.
          </p>
        </div>
      </div>
    </div>
</section>

<footer style='background-color: #000;'>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9 col-lg-9">
        <!-- Footer Menu List -->
        <ul class="list-inline">
          <li><a href="/archive-2017/">2017 Archive</a></li>
          <li><a href="/archive-2016/">2016 Archive</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
