<div class="text-center">
  <div>
    <a href="https://www.papercall.io/200ok"
       class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-4 px-8 rounded my-12 text-2xl">
      Submit a Talk
    </a>
  </div>

  <div>
    <a href="/sponsorship-prospectus/">
      Sponsorship Prospectus
    </a>
  </div>
</div>
