<!-- Header -->
<header id="fullwidth" class="homepage">
  <iframe src="https://gregtatum.github.io/header-200ok/001/" style='width:100%; height: 100%; top: 0; left: 0; position:absolute; pointer-events: none; border: 0;'></iframe>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Heading Title Area -->
        <div class="header-text white text-center text-uppercase">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <div class="pddn-20-top pddn-20-btm" style='text-align:center;'>
                <img src="assets/media/logo/200ok-white.svg" class="img-responsive" style='margin: 10px auto 0 auto; height: 140px'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p class='main-header'>
                Connect with fellow web professionals and some of the best speakers in the country
                for a day of presentations about leading web tech topics, plus join in hacking spaces,
                break-outs, and group discussions.
              </p>
              <h3 class="mrgn-50-top white sm-title mrgn-50-btm main-header-date"><span class="date">June 2nd, 2017 – Tulsa, Oklahoma</span></h3>
                <p>
                  <a href="https://200ok.typeform.com/to/Ywhe77" class="btn btn-primary btn-lg">Vote on Talks</a>
                </p>
            </div>
          </div>
        </div>
        <!-- /.Heading Title Area -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</header>
<!-- /.Header -->

<!-- Section Sponsors -->
<section id="sponsors">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Sponsors</span></h2>
          <p class="subtitle text-center">
            This event couldn't be done without our sponsors.
          </p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Sponsors List -->
    <div class="row sponsor-row text-center">
      <a href='/sponsorship-prospectus/'>
          <h2 class="sponsor-row-description">&lt;title&gt; sponsorship available until May 1!</h2>
      </a>
    </div>
    <div class="row sponsor-row text-center">
      <h2 class="sponsor-row-description">&lt;h1&gt;</h2>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
          <a href='https://www.mozilla.org/' target='_blank'>
              <img class="img-responsive center-block" src="assets/media/sponsors/mozilla.png" width="368" height="150" alt="Mozilla" />
          </a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <a href='/sponsorship-prospectus/'><h3>Available until May 1!</h3></a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <a href='/sponsorship-prospectus/'><h3>Available until May 1!</h3></a>
      </div>
    </div>
    <div class="row sponsor-row text-center">
      <h2 class="sponsor-row-description">&lt;h2&gt;</h2>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <a href='/sponsorship-prospectus/'><h4>Available!</h4></a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <a href='/sponsorship-prospectus/'><h4>Available!</h4></a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-4 mrgn-10-top-btm">
        <a href='/sponsorship-prospectus/'><h4>Available!</h4></a>
      </div>
    </div>
    <div class="row sponsor-row text-center">
      <h2 class="sponsor-row-description">😋Lunch😋</h2>
      <div class="col-sm-6 col-sm-offset-6 col-xs-12 col-xs-offset-6 mrgn-10-top-btm">
          <a href='https://www.roberthalf.com/technology' target='_blank'>
            <img class="img-responsive center-block" src="assets/media/sponsors/RHT_LG_RGB_NAM.PNG" width="368" height="150" alt="Robert Half" />
          </a>
      </div>
      <div class="col-sm-6 col-sm-offset-6 col-xs-12 col-xs-offset-6 mrgn-10-top-btm">
          <a href='https://fabricut.com/' target='_blank'>
            <img class="img-responsive center-block" src="assets/media/sponsors/fabricut-logo.png" width="368" height="150" alt="Fabricut" />
          </a>
      </div>
    </div>
    <div class="row sponsor-row text-center">
      <h2 class="sponsor-row-description">Partners</h2>
      <div class="col-sm-6 col-sm-offset-6 col-xs-12 col-xs-offset-6 mrgn-10-top-btm">
          <a href='http://www.tulsalibrary.org/' target='_blank'>
            <img class="img-responsive center-block" src="assets/media/sponsors/TCCL-Logo_300x100.png" width="368" alt=""/>
          </a>
      </div>
      <div class="col-sm-6 col-sm-offset-6 col-xs-12 col-xs-offset-6 mrgn-10-top-btm">
          <a href='http://techlahoma.org' target='_blank'>
            <img class="img-responsive center-block" src="assets/media/sponsors/techlahoma_horizontaltext.png" alt="" style="margin-top: -12%;"/>
          </a>
      </div>
    </div>
    <!-- /.Sponsors List -->

    <!-- Local Sponsors -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="text-center"><span>Local Sponsors</span></h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <a href="/sponsorship-prospectus/"><h3 class="text-center">Available!</h3></a>
        </div>
      </div>
    </div>
    <!-- /Local Sponsors -->

  </div>
<!-- /.container -->
</section>
<!-- /.Section Sponsors -->

<!-- Section Location -->
<section id="location">
  <img src='/assets/media/image-backgrounds/greadington.jpg' style='width: 100%; height: auto;'/>
  <address>
    <h3 style='margin:0;'>
      <a href='http://www.tulsalibrary.org/central/' target='_blank'>Location: Tulsa Central Library</a>
    </h3>
    400 Civic Center<br/>
    Tulsa, OK 74103
  </address>
  <div id="google-container"></div>
  <div id="cd-zoom-in"></div>
  <div id="cd-zoom-out"></div>
</section>
<!-- /.Section Location -->

<!-- Section CoC -->
<section id="coc">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Code of Conduct</span></h2>
          <p class="subtitle text-center">
            Before attending the conference, <a href="https://www.techlahoma.org/code-of-conduct/">please review the 200OK Code of Conduct</a>. The CoC applies to all attendees, speakers, volunteers, and vendors at official and unofficial events by <a href="https://techlahoma.org">Techlahoma</a> and any location where attendees may be congregating. <a href="mailto:organizers@200ok.us">Contact us</a> if you have questions.
          </p>
        </div>
      </div>
    </div>
</section>
<!-- /.Section CoC -->
