<div class="text-center">
  <div class="full-width reverse ; my-12 p-8 pb-12">
    <div class="max-w-2xl mx-auto">
      <h3>A message from the Techlahoma Board</h3>

      <p>
        The health and safety of our community is Techlahoma's top priority.
        Because of this and the COVID-19 situation we are recommending that all user groups,
        meetups, and events be held virtually, or cancelled until further&nbsp;notice.
      </p>

      <p><b><i>This includes 200OK, which will be held virtually.</i></b></p>

      <p>We are sending information to the User Group Leaders on how to hold meetings virtually, and we would like to encourage you all to continue to meet online if you can.
      We know that social isolation may be hard for some, so we encourage you to continue communicating with the community through Slack, especially using the video call option if you are needing to see some human faces.
      Everyone take care, and stay&nbsp;healthy.</p>

    </div>

  </div>

  <div>
    <h3>Code of Conduct</h3>
    <p>
      Before attending the conference, <a href="https://www.techlahoma.org/code-of-conduct/">please review the Techlahoma Code of Conduct</a>.
      The Code of Conduct applies to all attendees, speakers, volunteers, and vendors at official and unofficial events by <a href="https://techlahoma.org">Techlahoma</a> and any location where attendees may be congregating.
      <a href="mailto:organizers@200ok.us">Contact us</a> if you have questions.
    </p>
  </div>
</div>
