<div class="text-center">
  <div class="full-width reverse ; my-12 p-8 pb-12">
    <div class="max-w-2xl mx-auto">

      <p>200OK is going virtual this year! Join us May 15th for a great speaker line up. Registration will open soon. </p>

    </div>

  </div>

  <div>
    <h3>Code of Conduct</h3>
    <p>
      Before attending the conference, <a href="https://www.techlahoma.org/code-of-conduct/">please review the Techlahoma Code of Conduct</a>.
      The Code of Conduct applies to all attendees, speakers, volunteers, and vendors at official and unofficial events by <a href="https://techlahoma.org">Techlahoma</a> and any location where attendees may be congregating.
      <a href="mailto:organizers@200ok.us">Contact us</a> if you have questions.
    </p>
  </div>
</div>
