<!-- Header -->
<header id="fullwidth" class="homepage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Heading Title Area -->
        <div class="header-text white text-center text-uppercase">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <div class="pddn-20-top pddn-20-btm" style='text-align:center;'>
                <img src="assets/media/logo/200ok-white.png" class="img-responsive" style='margin: 0 auto'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p style='font-size:1.5em; text-transform:none;'>
                Connect with fellow web professionals and some of the best speakers in the country
                for a day of presentations about leading web tech topics, plus join in hacking spaces,
                break-outs, and group discussions.
              </p>
              <h3 class="mrgn-50-top white sm-title mrgn-50-btm"><span class="date">June 3rd, 2016 – Tulsa, Oklahoma</span></h3>
              <a href="http://speakers.200ok.us/" target="_blank"><h3 class="mrgn-50-top white sm-title mrgn-50-btm"><span class="date">Call for speakers is open!</span></h3></a>
            </div>
          </div>
        </div>
        <!-- /.Heading Title Area -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</header>
<!-- /.Header -->

<!-- Section Sponsors -->
<section id="sponsors">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Sponsors</span></h2>
          <p class="subtitle text-center">
            This event couldn't be done without our sponsors.
            <a href='/sponsorship-prospectus/'>Interested in sponsoring?</a>
          </p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Sponsors List -->
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 mrgn-10-top-btm">
        <a href='https://www.mozilla.org/en-US/' target='_blank'>
          <img class="img-responsive center-block" src="assets/media/sponsors/mozilla.png" width="368" height="150" alt="" />
        </a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 mrgn-10-top-btm">
        <a href='http://www.gkff.org/' target='_blank'>
          <img class="img-responsive center-block" src="assets/media/sponsors/gkff.png" width="368" height="150" alt="" />
        </a>
      </div>
      <!--
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-02.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-03.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-06.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-05.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-04.png" width="230" height="150" alt="" /></div>
    -->
  </div>
  <!-- /.Sponsors List -->
</div>
<!-- /.container -->
</section>
<!-- /.Section Sponsors -->

<!-- Section Speakers -->
<section id="speakers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
          <p class="subtitle text-center">
              Call for speakers is open! <a href="http://speakers.200ok.us/" target="_blank">Submit your talk</a> to join these other fine speakers ...
          </p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Speakers List -->
    <div class="row">
      <h3>Be among the first to set the stage for 200 OK!</h3>
      <p><a href="http://speakers.200ok.us/" target="_blank">Submit your talk today!</a></p>
      <!--
      <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 mrgn-10-top-btm"></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-02.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-03.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-06.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-05.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-04.png" width="230" height="150" alt="" /></div>
      -->
    </div>
    <!-- /.Speakers List -->
</div>
<!-- /.container -->
</section>
<!-- /.Section Speakers -->

<!-- Section Location -->
<section id="location">
  <address>
    <h3 style='margin:0;'>
      <a href='http://www.36degreesnorth.co/' target='_blank'>Location: 36ºN</a>
    </h3>
    36 East Cameron Street<br/>
    Tulsa, OK 74103
  </address>
  <div id="google-container"></div>
  <div id="cd-zoom-in"></div>
  <div id="cd-zoom-out"></div>
</section>
<!-- /.Section Location -->
