<div class="text-center">
  <div class="my-12">
    <a href="https://www.papercall.io/200ok"
       class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-4 px-8 rounded m-4 text-2xl">
      Submit a Talk
    </a>

    <a href="https://ti.to/techlahoma/200ok-2020"
       class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-4 px-8 rounded m-4 mx-8 text-2xl">
      Buy Tickets
    </a>
  </div>

  <div class="full-width reverse ; my-12 py-4">
    <h3>Sponsors</h3>

    <a href="/sponsorship-prospectus/">
      Sponsorship Prospectus
    </a>

    <div class="my-12 hidden">
      <h4>
        <a href="sponsorship-prospectus#lt-title-gt-Sponsor-3-000" class="block">
          <code class="text-white">&lt;title&gt;</code>
        </a>
      </h4>
    </div>

    <div class="my-12 hidden">
      <h4>
        <a href="sponsorship-prospectus#lt-br-class-quot-Lunch-quot-gt-Sponsor-2-000" class="block">
          <code class="text-white">&lt;br class="Lunch"&gt;</code>
        </a>
      </h4>
    </div>

    <div class="my-12 hidden">
      <h4>
        <a href="sponsorship-prospectus#lt-h1-gt-Sponsor-2-000" class="block">
          <code class="text-white">&lt;h1&gt;</code>
        </a>
      </h4>
    </div>

    <div class="my-12 hidden">
      <h4>
        <a href="sponsorship-prospectus#lt-br-class-quot-Breakfast-quot-gt-Sponsor-1-000" class="block">
          <code class="text-white">&lt;br class="Breakfast"&gt;</code>
        </a>
      </h4>
    </div>

    <div class="my-12">
      <h4>
        <a href="sponsorship-prospectus#lt-h2-gt-Sponsor-1-000" class="block">
          <code class="text-white">&lt;h2&gt;</code>
        </a>
      </h4>
      <a class="bg-white inline-block max-w-xs" target="_blank" href="https://www.tenstreet.com/">
        <img src="/assets/media/sponsors/tenstreet.png">
      </a>
    </div>

    <div class="my-12 hidden">
      <h4>
        <a href="sponsorship-prospectus#lt-a-gt-“Local”-Sponsor-Vary-Referer" class="block">
          <code class="text-white">&lt;a&gt;</code>
        </a>
      </h4>
    </div>
  </div>

  <div>
    <h3>Code of Conduct</h3>
    <p>
      Before attending the conference, <a href="https://www.techlahoma.org/code-of-conduct/">please review the Techlahoma Code of Conduct</a>.
      The Code of Conduct applies to all attendees, speakers, volunteers, and vendors at official and unofficial events by <a href="https://techlahoma.org">Techlahoma</a> and any location where attendees may be congregating.
      <a href="mailto:organizers@200ok.us">Contact us</a> if you have questions.
    </p>
  </div>
</div>
