<!-- Header -->
<header id="fullwidth" class="homepage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Heading Title Area -->
        <div class="header-text white text-center text-uppercase">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <div class="pddn-20-top pddn-20-btm" style='text-align:center;'>
                <img src="assets/media/logo/200ok-white.png" class="img-responsive" style='margin: 0 auto'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p style='font-size:1.5em; text-transform:none;'>
                Connect with fellow web professionals and some of the best speakers in the country
                for a day of presentations about leading web tech topics, plus join in hacking spaces,
                break-outs, and group discussions.
              </p>
              <h3 class="mrgn-50-top white sm-title mrgn-50-btm"><span class="date">June 3rd, 2016 – Tulsa, Oklahoma</span></h3>
              <a href="https://techlahoma1.typeform.com/to/kXO0h3" class="btn btn-main-color"><h3 style='margin-top:0.3em;'>Voting for talks is open! <i class="fa fa-long-arrow-right"></i></h3></a>
            </div>
          </div>
        </div>
        <!-- /.Heading Title Area -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</header>
<!-- /.Header -->

<!-- Section Sponsors -->
<section id="sponsors">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Sponsors</span></h2>
          <p class="subtitle text-center">
            This event couldn't be done without our sponsors.
            <a href='/sponsorship-prospectus/'>Interested in sponsoring?</a>
          </p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Sponsors List -->
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 mrgn-10-top-btm">
        <a href='https://www.mozilla.org/en-US/' target='_blank'>
          <img class="img-responsive center-block" src="assets/media/sponsors/mozilla.png" width="368" height="150" alt="" />
        </a>
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 mrgn-10-top-btm">
        <a href='http://www.gkff.org/' target='_blank'>
          <img class="img-responsive center-block" src="assets/media/sponsors/gkff.png" width="368" height="150" alt="" />
        </a>
      </div>
      <!--
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-02.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-03.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-06.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-05.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-04.png" width="230" height="150" alt="" /></div>
    -->
</div>
  <div class="row">
          <h3 class="text-center"><span>Local Sponsors</span></h3>
      <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 mrgn-10-top-btm">
        <a href='https://ithemes.com/' target='_blank'>
          <img class="img-responsive center-block" src="assets/media/sponsors/ithemes.png" width="184" height="75" alt="" />
        </a>
      </div>
  </div>
  <!-- /.Sponsors List -->
<!-- /.container -->
</section>
<!-- /.Section Sponsors -->

<!-- Section Speakers -->
<section id="speakers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
          <p class="subtitle text-center">
              Voting for talks is open! <a href="https://techlahoma1.typeform.com/to/kXO0h3" target="_blank">Vote for your favorite talks</a> to add to these other fine speakers ...
          </p>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Speakers List -->
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 mrgn-10-top-btm">
        <img class="img-responsive center-block" src="assets/media/speakers/gregavola.png" width="230" height="150" alt="" />
        <h4>Greg Avola, CTO of Untappd / Next Glass</h4>
        <p>Living in the craft beer haven of New York City, Greg is the CTO and Co-Founder for <a href="https://untappd.com/" target="_blank">Untappd</a>. After experiencing Rare Vos for the first time, he instantly fell in love with craft beer. While some people enjoy reading books or watching movies, Greg's passion is to code. With that being said, after Tim and Greg came up with the idea of Untappd, Greg had a working prototype the next day. Being able to combine his passion for development and craft beer allowed Untappd to be born. In January of 2016, Untappd merged with Next Glass which allowed Greg to work on Untappd in a full-time role as CTO of both companies. Prior to Untappd, Greg was a Senior Software Engineer at ABC News in New York City responsible for mobile and web products.</p>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm">
        <p><a href="https://techlahoma1.typeform.com/to/kXO0h3" target="_blank">Vote for your favorite talks today!</a></p>
      </div>
      <!--
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-03.png" width="230" height="150" alt="" />next div</div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-06.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-05.png" width="230" height="150" alt="" /></div>
      <div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm"><img class="img-responsive center-block" src="assets/media/sponsors/logo-client-04.png" width="230" height="150" alt="" /></div>
      -->
    </div>
    <!-- /.Speakers List -->
</div>
<!-- /.container -->
</section>
<!-- /.Section Speakers -->

<!-- Section Location -->
<section id="location">
  <address>
    <h3 style='margin:0;'>
      <a href='http://www.36degreesnorth.co/' target='_blank'>Location: 36ºN</a>
    </h3>
    36 East Cameron Street<br/>
    Tulsa, OK 74103
  </address>
  <div id="google-container"></div>
  <div id="cd-zoom-in"></div>
  <div id="cd-zoom-out"></div>
</section>
<!-- /.Section Location -->
