<div class="text-center">
  <div class="full-width reverse ; my-12 py-4">
    <a href="https://www.papercall.io/200ok2021" class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-4 px-8 rounded m-4 text-2xl">
      Submit a Talk
    </a>

    <h3>More details soon!</h3>

    <div class="; container text-left mx-auto max-w-3xl p-4">
      <div class="w-full my-4">
        <tito-widget event="techlahoma/200ok-web-development-conference-2021"></tito-widget>
      </div>
    </div>
  </div>

  <div>
    <h3>Code of Conduct</h3>
    <p>
      Before attending the conference, <a href="https://www.techlahoma.org/code-of-conduct/">please review the Techlahoma Code of Conduct</a>.
      The Code of Conduct applies to all attendees, speakers, volunteers, and vendors at official and unofficial events by <a href="https://techlahoma.org">Techlahoma</a> and any location where attendees may be congregating.
      <a href="mailto:200ok@techlahoma.org">Contact us</a> if you have questions.
    </p>
  </div>
</div>
