<div class="text-center">
  <div class="my-12">
    <a href="https://ti.to/techlahoma/200ok-2020"
       class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-4 px-8 rounded m-4 mx-8 text-2xl">
      Register Today
    </a>
  </div>

  <div class="full-width reverse ; my-12 p-8 pb-12">
    <div class="max-w-2xl mx-auto">

      <p>200OK is going virtual this year! Join us May 15th for a great speaker line up.</p>

    </div>

  </div>

  <div>
    <h3>Code of Conduct</h3>
    <p>
      Before attending the conference, <a href="https://www.techlahoma.org/code-of-conduct/">please review the Techlahoma Code of Conduct</a>.
      The Code of Conduct applies to all attendees, speakers, volunteers, and vendors at official and unofficial events by <a href="https://techlahoma.org">Techlahoma</a> and any location where attendees may be congregating.
      <a href="mailto:organizers@200ok.us">Contact us</a> if you have questions.
    </p>
  </div>
</div>
