<!-- Header -->
<header id="fullwidth" class="homepage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"> 
        <!-- Heading Title Area -->
        <div class="header-text white text-center text-uppercase">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <div class="pddn-20-top pddn-20-btm" style='text-align:center;'>
                <img src="assets/media/logo/200ok-white.png" class="img-responsive" style='margin: 0 auto'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <h2 class="white">We're back for 2016.</h2>
              <h3 class="mrgn-50-top white sm-title"><span class="date">June 3rd – Tulsa, Oklahoma</span></h3>
            </div>
          </div>
        </div>
        <!-- /.Heading Title Area --> 
      </div>
    </div>
  </div>
  <!-- /.container --> 
</header>
<!-- /.Header --> 

<!-- Section Location -->
<section id="location">
  <!-- <div id="google-container"></div>
  <div id="cd-zoom-in"></div>
  <div id="cd-zoom-out"></div> -->
  <address>
  The Conference will be held at <a href='http://www.36degreesnorth.co/'>36ºN</a>
  </address>
</section>
<!-- /.Section Location --> 