<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/header') %>
<body class="; bg-black">
  <div class="; container mx-auto p-8 leading-tight" style="color: #888;">
    <div class="text-center">
      <a href="/" class="block my-12 md:mx-12">
        <img src="/assets/media/logo/200ok-white.svg" alt="200OK - Tulsa’s Web Developer Conference" class="max-w-xl mx-auto">
      </a>

      <h1 class="text-2xl font-bold m-4" style="color: #eee;">Tulsa’s Web Developer Conference</h1 class="text-2xl">
      <div class="text-xl font-bold m-4" style="color: #aaa;">Friday, May 15 2020</div class="text-1xl">
      <div>Our conference will be virtual this&nbsp;year.</div>

      <div class="header-social-icons ; text-4xl my-4">
        <a href="slack://channel?id=200ok&team=techlahoma" title="#200ok Slack Channel on Techlahoma" class="; inline-block py-2 px-4"><i class="fab fa-slack"></i></a>
        <a href="https://twitter.com/200okconf" title="@200okconf Twitter" class="; inline-block py-2 px-4"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

    <%- body %>

    <%- partial('_partial/footer') %>
  </div>
</body>
</html>
