@font-face {
  font-family: 'freshmannormal';
  src: url('freshman/freshman-webfont.woff2') format('woff2'),
       url('freshman/freshman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
