/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'freshmannormal';
  src: url('../fonts/freshman/freshman-webfont.woff2') format('woff2'),
       url('../fonts/freshman/freshman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Nav Bar */ 

nav {
  background-color: blue;
  color: #fff;
  padding: 10px;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  padding: 0;
  margin: 0;
}

nav ul li:not(:last-child):after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}


nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Global */

html {

  box-sizing: border-box;

 :root {
  --blue: #3281c4;
  --red: #ef493c;
  --font-Rokkitt: 'Rokkitt', serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Custom Overrides */
/* use twokay- */
.twokay-bg-image {
    /* background-image: url(../images/heather2.png); */
}


.twokay-font-freshman {
    font-family: "freshmannormal", serif;
}

.twokay-font-rokkitt {
    font-family: var(--font-Rokkitt);
}

.twokay-color-red {
    color: var(--red);
}

.twokay-color-blue {
    color: var(--blue);
}

.twokay-bg-red {
    background-color: var(--red);
}

.twokay-bg-blue {
    background-color: var(--blue);
}

.twokay-border-red {
    border-color: var(--red);
}

.twokay-border-blue {
    border-color: var(--blue);
}

.prose h1 {
  @apply twokay-font-freshman;
  @apply uppercase;
  @apply text-2xl;
  @apply sm:text-3xl;
  @apply tracking-widest;
  @apply mb-4;
  @apply text-center;
}

.prose h2 {
  @apply mt-8;
  @apply twokay-font-freshman;
  @apply uppercase;
  @apply block;
  @apply text-xl;
  @apply tracking-widest;
}

.prose p {
  @apply mb-4;
}

.prose ul {
  @apply list-disc;
  @apply mb-8;
  @apply pl-4;
}

.prose ul li {
  @apply mb-4;
}

.prose a {
  @apply underline;

  color: var(--blue);
}
