/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

/* Global overrides */

:root {
  --font-league-gothic: "League Gothic", sans-serif;
  --font-league-spartan: "League Spartan", sans-serif;
  --font-crimson: "Crimson Text", serif;
  --color-red: #EF493C;
  --color-blue: #3281C4;
  --color-gray-dark: #58595B;
  --color-gray-light: #A6A8AB;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: var(--font-crimson);
    font-weight: 400;
}

/* Custom classes */

.font-league-gothic {
  font-family: var(--font-league-gothic);
}

.font-league-spartan {
  font-family: var(--font-league-spartan);
}

.font-crimson {
  font-family: var(--font-crimson);
}

.text-200ok-red, .text-200ok-red-hover:hover {
  color: var(--color-red);
}

.text-200ok-blue, .text-200ok-blue-hover:hover {
  color: var(--color-blue);
}

.border-200ok-red, .border-200ok-red-hover:hover {
  border-color: var(--color-red);
}

.border-200ok-blue, .border-200ok-blue-hover:hover {
  border-color: var(--color-blue);
}

.bg-200ok-gray-light {
  background-color: var(--color-gray-light);
}

.bg-200ok-gray-dark {
  background-color: var(--color-gray-dark);
}

.bg-200ok-red, .bg-200ok-red-hover:hover {
  background-color: var(--color-red);
}

.bg-200ok-blue, .bg-200ok-blue-hover:hover {
  background-color: var(--color-blue);
}

.prose h1 {
  @apply text-3xl;
  @apply font-bold;
}

.prose h2 {
  @apply text-2xl;
  @apply font-semibold;
}

.prose h1 ,
.prose h2 {
  @apply uppercase;
  @apply mb-4;
  @apply mt-0;
  @apply pt-14;

  border-bottom: 1px solid rgba(77, 36, 98, 0.5);
  color: var(--color-secondary);
}

body, .prose, .prose strong {
  color: var(--color-tertiary);
}

.prose h3 {
  color: var(--color-secondary);
}

.prose p {
  @apply my-4;

  color: var(--color-tertiary);
}

.intro {
  @apply text-xl;
}

@screen sm {
  .intro {
    @apply text-2xl;
  }
}

.my-left, .my-right {
  width: 100%;
}
@screen md {
  .my-left {
    width: 320px;
  }
  .my-right {
    width: calc(100vw - 320px);
  }
}

@screen lg {
  .my-left {
    width: 400px;
  }
  .my-right {
    width: calc(100vw - 400px);
  }
}

a {
  @apply relative;
}

a:hover {
  @apply underline;
}

.footer-container ul a > i {
  @apply absolute left-full -top-1;
  @apply opacity-0;
}

.footer-container ul a:hover > i {
  @apply absolute left-full -top-1;
  @apply opacity-60;
}

.prose .button ,
.button {
  border-radius: 3px;
  display: inline-block;
  padding: 1.1rem 2rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.2s ease-out;
  text-decoration: none;
  line-height: 1;
}
.prose .button:hover ,
.button:hover {
  text-decoration: none;
}

.prose .sponsor a {
  text-decoration: none;
}

.prose a {
  color: var(--color-secondary);
}

.prose a:hover {
  color: var(--color-secondary-dark);
}

.prose .sponsor img {
  margin: 0;
}