:root {
  --color-primary: #F2C365;
  --color-secondary: #B55143;
  --color-secondary-dark: #9e4034;
  --color-tertiary: #6D5217;
  --logo-blue: #6D5217;
  --logo-red: #B55143;
  --logo-grey: #AAAAAA;
  --white: #FFFFFF;
}

.text-secondary {
  color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

body {
  font-family: 'Spartan', sans-serif;
  min-width: 300px;
}

header, footer {
  background-color: var(--color-primary);
}

.section-underline {
  border-bottom: 1px solid rgba(77, 36, 98, 0.5);
}

.social-icons {
  @apply text-2xl;
  @apply my-6;
  @apply flex;
  @apply justify-center;
}

.social-icons a {
  @apply block;
  @apply p-2;
}

.social-icons a:hover {
  @apply no-underline;
}

.social-icons svg {
  @apply w-8;

  fill: var(--color-secondary);
}

.social-icons a:hover svg {
  fill: var(--color-secondary-dark);
}
