<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title or metadata.title }}{{ ' | ' if title or metadata.title }}200OK - Tulsa’s Web Developer Conference</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="200OK is Tulsa’s Web Developer Conference. Hear from some of the best speakers across the globe for a day of presentations about leading web technology topics.">

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <!-- OG Tags -->
  <meta property="og:title" content="200OK Web Developer Conference">
  <meta property="og:type" content="website">
  <meta property="og:description" content="200OK is Tulsa’s Web Developer Conference. Hear from some of the best speakers across the globe for a day of presentations about leading web technology topics.">
  <meta property="og:url" content="https://200ok.us/">
  <meta property="og:image" content="https://200ok.us/assets/images/share-2024.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@200okconf">
  <meta name="twitter:title" content="200OK Web Developer Conference">
  <meta name="twitter:description" content="200OK is Tulsa’s Web Developer Conference. Hear from some of the best speakers across the globe for a day of presentations about leading web technology topics.">
  <meta name="twitter:image" content="https://200ok.us/assets/images/share-2024.jpg">

  <!-- Fonts -->
  <script src="https://kit.fontawesome.com/7ceac86829.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | cacheBuster }}">
</head>

<body class="min-w-min bg-[#f9f3e6] p-4 sm:p-6">
  <div class="bg-stone-900 twokay-bg-image bg-repeat relative py-4 sm:py-16 sm:px-8 md:px-16 rounded-t-lg">
    <div class="max-w-screen-sm mx-auto mt-4 sm:mt-16 px-4 pb-24 text-[#f9f3e6] twokay-font-rokkitt">
      <header class="text-center text-[#f9f3e6] twokay-font-freshman uppercase px-4">
        <a href="/" class="block">
          <h1>
            <img class="w-[28rem] mx-auto mb-4" src="/assets/logos/200ok-round.svg" alt="200 OK">
          </h1>
          <h2 class="mb-4">
            <span class="block text-3xl sm:text-5xl mb-4 tracking-wider leading-none">Developer<br/>Conference</span>
            <span class="block text-2xl sm:text-3xl tracking-widest">Tulsa, OKLA</span>
          </h2>
          <div class="block text-2xl sm:text-3xl tracking-widest text-center mb-4">- - -</div>
        </a>
      </header>

      <main class="">
        {# Hero #}
        <section class="mb-16">
          {{ content | safe }}
        </section>
        
        {# Speakers #}
        <!-- <section>
          <ul>
            <li></li>
          </ul>
        </section> -->
        {# Schedule #}
        <section class="mb-16">
          <div class="bg-[#f9f3e6] rounded-lg text-stone-900 p-4 max-w-xs mx-auto md:mx-0 -rotate-2">
          <h3 class="block text-2xl sm:text-3xl tracking-widest my-4 twokay-font-freshman uppercase text-center">Schedule</h3>
          <ul>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">8:00</time>
                <div>Registration / Check-in</div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">9:00</time>
                <div>Welcome</div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">9:30</time>
                <div>
                  <span class="block text-xl">Talk Title</span>
                  <span class="block twokay-font-freshman uppercase">Speaker</span>
                </div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">10:30</time>
                <div>
                  <span class="block text-xl">Talk Title</span>
                  <span class="block twokay-font-freshman uppercase">Speaker</span>
                </div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">11:30</time>
                <div>
                  <span class="block text-xl">Talk Title</span>
                  <span class="block twokay-font-freshman uppercase">Speaker</span>
                </div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">12:30</time>
                <div>Lunch Break</div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">1:30</time>
                <div>Lightning Talks</div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">2:30</time>
                <div>
                  <span class="block text-xl">Talk Title</span>
                  <span class="block twokay-font-freshman uppercase">Speaker</span>
                </div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">3:30</time>
                <div>
                  <span class="block text-xl">Talk Title</span>
                  <span class="block twokay-font-freshman uppercase">Speaker</span>
                </div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4 border-b-2 border-b-stone-900 border-dashed pb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">4:30</time>
                <div>Closing Remarks</div>
              </div>
            </li>
            <li>
              <div class="schedule-entry flex gap-4 mb-4">
                <time class="twokay-font-freshman uppercase w-16 text-right">5:30</time>
                <div>Afterparty</div>
              </div>
            </li>
          </ul>
          </div>
        </section>
        {# Tickets #}
        <section>
          <h3 class="block text-2xl sm:text-3xl tracking-widest my-4 twokay-font-freshman uppercase text-center">Tickets</h3>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quidem eaque, explicabo tempore esse ipsum voluptas, similique quas sint incidunt unde repellat totam porro perspiciatis consequatur animi quos odit consequuntur.</p>
          <a tabindex="0" role="link" class="border-double border-8 rounded twokay-bg-red px-3 pt-3 pb-2 block sm:px-8 md:px-12 text-[#f9f3e6] text-lg tracking-widest max-w-full w-full sm:w-64 text-center mb-8" href="#">GET TICKETS</a>
          
          <h4>Want to volunteer?</h4>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad exercitationem, adipisci, suscipit, corrupti voluptas eligendi quaerat nam placeat dicta reiciendis ducimus! Error, labore architecto animi quia doloremque quo commodi expedita!</p>
          <!-- TODO: https://github.com/techlahoma/200ok-site/issues/296 -->
          <a tabindex="0" role="link" class="border-double border-8 rounded twokay-bg-blue px-3 pt-3 pb-2 block sm:block-inline sm:px-8 md:px-12 text-[#f9f3e6] text-lg tracking-widest max-w-full w-full sm:w-64 text-center mb-8" href="#">VOLUNTEER</a>
        </section>
        {# Location #}
        <section>
          <div class="bg-[#f9f3e6] rounded-lg text-stone-900 p-4 mx-auto md:mx-0 py-16">
            <!-- <h3 class="block text-2xl sm:text-3xl tracking-widest my-4 twokay-font-freshman uppercase text-center">Location</h3> -->
            <h3 class="">
              <img class="max-w-sm mx-auto mb-4" src="/assets/images/logo-atlas-navy.png" alt="Atlas School logo">
            </h3>
            <p class="text-center mb-8">
              15 N Cheyenne Ave, Tulsa, OK 74103
              <br/>
              <a class="underline underline-offset-2" target="_blank" href="https://www.google.com/maps?q=15+N+Cheyenne+Ave,+Tulsa,+OK+74103">Open in Google Maps</a>
            </p>
            <div class="flex gap-8 align-middle justify-center">
              <img class="rounded-lg w-64 max-w-full rotate-2 drop-shadow-md" src="/assets/images/atlas-campus-portrait.jpg"  alt="The brickwork on the front of the Atlas school building">
              <img class="rounded-lg w-48 max-w-full -rotate-1 drop-shadow-md"src="/assets/images/atlas-stage-portrait.jpg"  alt="Students sitting in front of a stage, watching a presentation">
              
            </div>
          </div>
        </section>
        {# Speakers #}
        <!-- <section>
          <ul>
            <li></li>
          </ul>
        </section> -->
        
        
      </main>
    </div>

  </div>

  {% include "footer.njk" %}

  {% include "scripts.njk" %}
</body>

</html>
