<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title or metadata.title }}{{ ' | ' if title or metadata.title }}200OK - Tulsa’s Web Developer Conference</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="200OK is Tulsa’s Web Developer Conference. Hear from some of the best speakers across the globe for a day of presentations about leading web technology topics.">

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <!-- OG Tags -->
  <meta property="og:title" content="200OK Web Developer Conference">
  <meta property="og:type" content="website">
  <meta property="og:description" content="200OK is Tulsa’s Web Developer Conference. Hear from some of the best speakers across the globe for a day of presentations about leading web technology topics.">
  <meta property="og:url" content="https://200ok.us/">
  <meta property="og:image" content="https://200ok.us/assets/images/share-2024.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@200okconf">
  <meta name="twitter:title" content="200OK Web Developer Conference">
  <meta name="twitter:description" content="200OK is Tulsa’s Web Developer Conference. Hear from some of the best speakers across the globe for a day of presentations about leading web technology topics.">
  <meta name="twitter:image" content="https://200ok.us/assets/images/share-2024.jpg">

  <!-- Fonts -->
  <script src="https://kit.fontawesome.com/7ceac86829.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | cacheBuster }}">

  <!-- JS -->
  <script src="https://js.tito.io/v2/with/inline" async></script>
</head>

<body class="min-w-min bg-[#f9f3e6] p-4 sm:p-6">
  <div class="bg-stone-900 twokay-bg-image bg-repeat relative py-4 sm:py-16 sm:px-8 md:px-16 rounded-t-lg">
    <div class="max-w-screen-sm mx-auto mt-4 sm:mt-16 px-4 pb-0 md:pb-24 text-[#f9f3e6] twokay-font-rokkitt">
      <header class="text-center text-[#f9f3e6] twokay-font-freshman uppercase px-4">
        <a href="/" class="block">
          <h1>
            <img class="w-[28rem] mx-auto mb-4" src="/assets/logos/200ok-round.svg" alt="200 OK">
          </h1>
          <h2 class="mb-4">
            <span class="block text-3xl sm:text-5xl mb-4 tracking-wider leading-none">Developer<br/>Conference</span>
            <span class="block text-2xl sm:text-3xl tracking-widest">Tulsa, OKLA</span>
          </h2>
          <div class="block text-2xl sm:text-3xl tracking-widest text-center mb-4">- - -</div>
        </a>
      </header>
      <main class="relative">

        <div class="text-center text-[#f9f3e6] twokay-font-freshman uppercase mb-16">
          <h3 class="block text-2xl sm:text-3xl tracking-widest mb-8">
            <span>Friday,</span>
            <span class="inline-block">May 17, 2024</span>
            <br/>
            <span class="cursor-help inline-block" title="15 N Cheyenne Ave, Tulsa, OK 74103">Atlas School</span>
          </h3>
          <div class="flex gap-4 flex-col sm:flex-row max-w-xs sm:max-w-none mx-auto justify-center">
            <a tabindex="0" role="link" class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSdjhTI5IWXEmWM2vbRsokIorOiSasbBDb0VCB1eB0ZJjndg0A/viewform" target="_blank">Event Feedback</a>
          </div>
        </div>

        <nav class="hidden sticky z-10 top-0 w-full md:flex gap-8 text-2xl align-middle justify-center mb-16 py-4 bg-gradient-to-b from-stone-900">
          <a class="hover:text-[#ef493c]" href="/#schedule">Schedule</a>
          <a class="hover:text-[#ef493c]" href="/#location">Location</a>
          <a class="hover:text-[#ef493c]" href="/#sponsors">Sponsors</a>
          <a class="hover:text-[#ef493c]" href="/#speakers">Speakers</a>
        </nav>

        <section class="">
          {{ content | safe }}
        </section>
      </main>
    </div>

  </div>

  {% include "footer.njk" %}

  {% include "scripts.njk" %}
</body>

</html>
