html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Colors */
:root {
	--maroon: #4a1d0f;
	--orange: #da6343;
}

/* Fonts */
@font-face {
  font-family: 'trop-magic';
  src: url('assets/fonts/trop-magic.woff2') format('woff2'),
       url('assets/fonts/trop-magic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-trop-magic  {
	font-family: 'trop-magic', 'Times New Roman', Times, serif;
}

.bg-gif {
	background: center no-repeat #e7e5e4;
	background-size: cover;
	background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(assets/img/annie-spratt-xt79nQxc9Q0-unsplash.jpg);
	/* background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3N3pxaGM5aDByb3VzMmZjaWlrNzRsa3FpeWJsOGZraWk1YmQ0YmZ2ZCZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/9YawfERzbwJo0CT7IV/giphy.gif); */
}