html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	/*background: #000;*/
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
}


/* Canvas */

#canvas {
	display: none;
}


/* Form */

form {
	display: block;
	width: 800px;
	margin: 2em 0;
}

form label, form input, form textarea {
	display: block;
	width: 100%;
	margin: 0 0 1em;
	padding: 5px;
	text-align: left;
}

form label {
	margin-bottom: 0;
}


/* Preview */

#card-display {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}


/* Download */

.download-wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

.button {
	padding: 1em 2em;
	display: inline-block;
	background: #e74141;
	color: #ffffff;
}
