html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #000;
	font-size: 16px;
}


/* Fonts */

@font-face {
	font-family: 'League Spartan';
	src: url('fonts/leaguespartan-bold.eot');
	src: url('fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'), url('fonts/leaguespartan-bold.woff2') format('woff2'), url('fonts/leaguespartan-bold.woff') format('woff'), url('fonts/leaguespartan-bold.ttf') format('truetype'), url('fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gobold Thin Light';
	src: url('fonts/GoboldLight.eot');
	/* IE9 Compat Modes */
	src: url('fonts/GoboldLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/GoboldLight.woff') format('woff'), /* Modern Browsers */
	url('fonts/GoboldLight.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/GoboldLight.svg#f1c3e1dd6afaa29e4e9360b698650068') format('svg');
	/* Legacy iOS */
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Gobold';
	src: url('fonts/GoboldRegular.eot');
	/* IE9 Compat Modes */
	src: url('fonts/GoboldRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/GoboldRegular.woff') format('woff'), /* Modern Browsers */
	url('fonts/GoboldRegular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/GoboldRegular.svg#4c9281fed353bcf1534451196e9109a5') format('svg');
	/* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}


/* Layout */

.card {
	margin: 10%;
	width: 800px;
	height: 450px;
	background: #58585a;
	position: relative;
	outline: 1px solid #000;
}

.content-wrapper {
	position: absolute;
	right: 0;
	width: 478px;
	height: 450px;
	background: #ffffff;
	top: 0;
}


/* Speaker Image */

.photo-wrapper {
	background: center center no-repeat #58585a;
	background-size: cover;
	position: relative;
	height: 450px;
	width: 322px;
}

.photo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.photo img {
	display: block;
	box-shadow: 0 0 20px #333;
}

.speaker .photo-wrapper {
	background-image: url('../images/bg-speaker.png');
}


/* Content Styles */

.logo {
	width: 100%;
	max-width: 242px;
	margin: 1em auto 0;
	display: block;
	margin-top: 1em;
}

.speaker-content-wrapper {
	position: relative;
	margin-top: 1em;
	width: 478px;
	height: 260px;
}

.speaker-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 300px;
	width: 100%;
}

.speaker-content .subhead:first-child {
	margin-top: 0;
}

.speaker-content .headline:last-child {
	margin-bottom: 0;
}

.subhead {
	font-size: 1.5em;
	color: #a7a9ac;
	border-bottom: 1px solid #a7a9ac;
	/*max-width: 300px;*/
	text-align: center;
	display: block;
	margin: 32px auto 16px;
	font-family: "Gobold";
	text-transform: uppercase;
	padding-bottom: 8px;
	line-height: 1em;
}

.headline {
	color: #4580c3;
	font-family: "League Spartan";
	font-size: 1.75em;
	line-height: 1.2em;
	max-width: 300px;
	text-align: center;
	margin: 0 auto 0;
	display: block;
	letter-spacing: 0.5px;
}

.headline.red {
	color: #e74141;
}

.date {
	color: #e74141;
	font-family: "Gobold Thin Light";
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 1px;
	text-align: center;
	position: absolute;
	width: 478px;
	right: 0;
	bottom: 16px;
	display: block;
}

.date span {
	color: #4580c3;
	display: inline-block;
	margin-left: 16px;
}
