<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/event01.js"></script> 
<script src="assets/js/jqcloud-1.0.4.min.js"></script>

<!-- Custom styles for Google Map --> 
<script src="https://maps.googleapis.com/maps/api/js"></script> 
<script src="assets/plugins/custom-google-map/ggl-map.js"></script> 
<!-- Owl Carousel JS --> 
<script src="assets/plugins/owl-carousel/js/owl.carousel.js"></script> 
<script src="assets/js/jquery.easing.min.js"></script> 
<!-- Isotope JS --> 
<script src="assets/plugins/isotope/isotope.pkgd.min.js"></script> 
<!-- Owl Carousel JS --> 
<script src="assets/plugins/owl-carousel/js/owl.carousel.js"></script> 
<!-- Background Video --> 
<script src="assets/plugins/bgvideo/backgroundVideo.min.js"></script> 
<script>
  const companies = [
    {text: "Libiny", weight: 3, link: "http://libiny.com/"},
    {text: "codesy", weight: 2, link: "https://www.codesy.io"},
    {text: "SupplyPike", weight: 5, link: "http://supplypike.com/"},
    {text: "BigWing", weight: 3, link: "https://bigwing.com/"},
    {text: "Station8", weight: 2, link: "http://station8branding.com/"},
    {text: "SportSmith", weight: 2, link: "https://www.sportsmith.net/"},
    {text: "Zealcon", weight: 9, link: "http://zealcon.com/"},
    {text: "Fabricut", weight: 7, link: "https://fabricut.com/"},
    {text: "Summit ESP", weight: 11, link: "https://summitesp.com/"},
    {text: "Beardon", weight: 3, link: "https://www.beardon.com/"},
    {text: "Carlisle", weight: 2, link: "http://www.carlislefsp.com/"},
    {text: "RevUnit", weight: 11, link: "http://revunit.com/"},
    {text: "Saxum", weight: 2, link: "http://saxum.com/"},
    {text: "Spherexx", weight: 4, link: "http://www.spherexx.com/"},
    {text: "MY Consulting Group", weight: 2, link: "http://myconsultinggroup.com/"},
    {text: "Brothers & Company", weight: 3, link: "http://www.broco.com/"},
    {text: "Asemio", weight: 2, link: "http://www.asemio.com/"},
    {text: "Brief Media", weight: 4, link: "http://brief.media/"}
  ];
  $(document).ready(function() {
      $('#bgvideo').backgroundVideo({
          pauseVideoOnViewLoss: false
      });
      $('#supporting-companies-cloud').jQCloud(companies);
  });
</script>
</body>
</html>
