<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/event01.js"></script>
<script src="assets/js/jqcloud-1.0.4.min.js"></script>

<!-- Analytics -->
<script src="assets/js/analytics.js"></script>

<!-- Custom styles for Google Map -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="assets/plugins/custom-google-map/ggl-map.js"></script>
<!-- Owl Carousel JS -->
<script src="assets/plugins/owl-carousel/js/owl.carousel.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>
<!-- Isotope JS -->
<script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
<!-- Owl Carousel JS -->
<script src="assets/plugins/owl-carousel/js/owl.carousel.js"></script>
<!-- Background Video -->
<script src="assets/plugins/bgvideo/backgroundVideo.min.js"></script>
<script>
  const companies = [
  ];
  $(document).ready(function() {
      $('#bgvideo').backgroundVideo({
          pauseVideoOnViewLoss: false
      });
  const companies = [
    {text: "Lawton Marketing Group", weight: 3, link: "https://wearelmg.com/"},
    {text: "Beardon", weight: 3, link: "https://beardon.com/"},
    {text: "Fabricut", weight: 5, link: "https://fabricut.com/"},
    {text: "Hogan", weight: 4, link: "https://www.hoganassessments.com/"},
    {text: "Zealcon", weight: 12, link: "http://zealcon.com/"},
    {text: "BigWing", weight: 7, link: "https://bigwing.com/"},
    {text: "RevUnit", weight: 3, link: "https://revunit.com/"},
    {text: "Tulsa Library", weight: 2, link: "https://www.tulsalibrary.org/"},
    {text: "Equity Insurance", weight: 2, link: "http://public.equityins.net/public-index.html"},
    {text: "ENACOMM", weight: 2, link: "http://www.enacomm.net/Enacomm-home-login/index.html"},
    {text: "Tenstreet", weight: 6, link: "http://www.tenstreet.com/"},
    {text: "Marlin Network", weight: 3, link: "http://marlinnetwork.com/"},
    {text: "Advantage Controls", weight: 2, link: "http://advantagecontrols.com/"},
  ];
      $('#supporting-companies-cloud').jQCloud(companies);
  });
</script>
</body>
</html>
