<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%- page.title ? page.title + ' | ' : '' %>200 OK - Tulsa’s Web Developer Conference</title>
  <meta name="description" content="">
  <link rel="icon" href="/assets/media/favicon/favicon.png">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet" type="text/css">
  <link href="/assets/fonts/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/assets/fonts/fontawesome/css/brands.css" rel="stylesheet">
  <link href="/assets/fonts/fontawesome/css/solid.css" rel="stylesheet">
  <link href="/assets/css/tailwind-1.1.4.min.css" rel="stylesheet">

  <style>
    html, body {
      min-width: 375px;
      font-family: 'Ubuntu Condensed', sans-serif;
    }
    h1,h2,h3,h4,h5,h6,p,ul,ol,dl {
      margin: 1rem 0;
    }
    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
    }
    h1 { font-size: 4rem; margin-top: 2rem; color: #eee; }
    h2 { font-size: 3rem; margin-top: 2rem; color: #eee; }
    h3 { font-size: 2.25rem; margin-top: 2rem; color: #ddd; }
    h4 { font-size: 1.875rem; color: #888; }
    h5 { font-size: 1.5rem; }
    h6 { font-size: 1.25rem; }
    a { color: #48bb78; /* green-500 */}
    a:hover { text-decoration: underline; }
    code, kbd, pre, samp {
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      background-color: #333;
      padding: 0.25rem 0.75rem;
    }
    hr {
      border-color: #aaa;
    }

    .full-width {
      width: 375px;
      position: relative;
      left: -2rem;
    }
    @media (min-width: 375px) {
      .full-width {
        /* https://css-tricks.com/full-width-containers-limited-width-parents/ */
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
      }
    }
    .reverse {
      background-color: white;
      color: black;
    }
    .reverse h1 { color: #333; }
    .reverse h2 { color: #333; }
    .reverse h3 { color: #666; }
    .reverse h4 { color: #888; }

    .header-social-icons a { color: #ffffff; }
    .header-social-icons a:hover { color: #48bb78; }
  </style>
</head>
