<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/assets/media/favicon/favicon.png">
  <%
  var title = page.title;

  if (is_home()) {
    title = '200 OK | Tulsa\'s Web Developer Conference';
  } else if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/assets/css/event01.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <!-- Custom styles for Google Map -->
  <link rel="stylesheet" href="/assets/plugins/custom-google-map/ggl-map.css" type="text/css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet" type="text/css">
  <link href="/assets/css/200ok.css" rel="stylesheet">
  <link href="/assets/css/jqcloud.css" rel="stylesheet">

</head>
