<!-- Navigation -->
<nav id="darknav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- navbar-header -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/">
        <img src="/assets/media/logo/200ok-white.svg" class="img-responsive" alt="200ok"/>
      </a> 
    </div>
    <!-- /.navbar-header -->
    <!-- navbar-collapse -->
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="/#sponsors">Sponsors</a></li>
        <!-- <li><a class="page-scroll" href="/#schedule">Schedule</a></li> -->
        <li><a class="page-scroll" href="/#location">Location</a></li>
        <li><a class="page-scroll" href="/#logistics">Logistics</a></li>
        <li><a class="page-scroll" href="/#coc">Code of Conduct</a></li>
        <li><a href="https://cfp.techlahoma.org/events/200ok-2019" class="btn btn-primary btn-lg action-button">Submit talks</a></li>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- /.Navigation -->
