<%/* 
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9 col-lg-9"> 
        <!-- Footer Menu List -->
        <ul class="list-inline">
          <!--
            <li><a href="#speakers">Speakers</a></li>
            <li><a href="#highlight">Highlights</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="#pricing">Tickets</a></li>
            <li><a href="#location">Location</a></li>
          -->
        </ul>
        <!-- /.Footer Menu List -->
        <!--<p class="copyright">Copyright <i class="fa fa-copyright"></i> 2015 - New York Web Buzz</p>-->
      </div>
      <div class="col-sm-4 col-md-3 col-lg-3"> 
        <!-- Footer Social Profiles List -->
        <!--
        <ul class="list-inline social-buttons">
          <li> <a class="fa fa-twitter fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
          <li> <a class="fa fa-facebook fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
          <li> <a class="fa fa-linkedin fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
          <li> <a class="fa fa-google-plus fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
          <li> <a class="fa fa-pinterest-p fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
        </ul>
        -->
        <!-- /.Footer Social Profiles List --> 
      </div>
    </div>
  </div>
</footer>

<!-- /.Footer --> 
*/%>