                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">1:20pm-2:10pm</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Lightning Talks</p>
                    <% site.pages.each(function(page){ if(page.lightning) { %>
                      <div style='overflow:hidden; border-top:1px solid #ccc; padding:1em 0'>
                        <img src="<%- page.photo %>"
                             alt="Speaker"
                             class="img-responsive img-circle img-speaker"
                             style="float:left; margin: 0.1em 1em;">
                          <p class="text-bold text-uppercase"><a href="<%- page.path %>"><%- page.talk %></a></p>
                        <p style="font-size:90%;"><%- page.speaker %></p>
                      </div>
                    <% }}) %>
                  </div>
                </div>

                <hr class="border-light">
