                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">8:00am</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Registration</p>
                    <p>Get checked in, mingle, and grab a bite to eat.</p>
                  </div>
                </div>

                <hr class="border-light">

                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">8:40am</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Opening Announcements</p>
                  </div>
                </div>

                <hr class="border-light">

