<div class="food-break white">
  <div class="row">
    <p>
      <% if (event.start) { %><%- format_time(event.start) %><% } %><% if (event.end) { %>-<%- format_time(event.end) %><% } %>
      <br>
      <%- event.title %>
    </p>
  </div>
</div>

<hr class="border-light">

