name: Pull Request

on:
  push:
    branches-ignore:
      - master
      - gh-pages

jobs:
  build:
    name: "Pull Request Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Install Node.js dependencies
        run: npm install
      - name: Hexo Generate
        run: npm run build
